@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    background-color: rgb(132, 144, 252);
    color: white;
    font-family: 'Arimo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}